<div class="page login-page">
  <div class="container">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner" style="
    margin-left: 101px;
">
        <div class="logo text-uppercase"><span></span><strong class="text-primary">Forge&GithubStats</strong></div>
        <p>.</p>
        <form id="login-form" method="post">
          <div class="form-group-material">
            <input id="login-username" type="text" name="loginUsername"  [(ngModel)]="login" required class="input-material">
            <label for="login-username" class="label-material">Username</label>
          </div>
          <div class="form-group-material">
            <input  id="login-password" type="password" name="loginPassword" required class="input-material" [(ngModel)]="password">
            <label for="login-password" class="label-material">Password</label>
          </div><a id="login" (click)="connecte()"  class="btn btn-primary">Login</a>
          <!-- This should be submit button but I replaced it with <a> for demo purposes-->
        </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
      </div>
      <div class="copyrights text-center">

        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
  </div>
</div>
