<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center">
        <img src="../../assets/img/logo2.jpg"  class="img-fluid rounded-circle" width="150px" height="100px">

      </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">

      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li><a routerLink="/home"> <i class="icon-home"></i>Dashbord                            </a></li>
        <li><a routerLink="/github"><i class="fa fa-themeisle"></i>Forge                             </a></li>
        <li><a routerLink="/forge"> <i class="fa fa-github"></i>Githubgithub                            </a></li>
        <li><a routerLink="/chartes"> <i class="fa fa-bar-chart"></i>Chartes                             </a></li>
        <li><a routerLink="/rapports"> <i class="fa fa-file-o"></i>Rapports                             </a></li>



      </ul>
    </div>

  </div>
</nav>
<div class="page">
  <header class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
            <div class="brand-text d-none d-md-inline-block"><span>Forge </span><strong class="text-primary">Dashboard</strong></div></a></div>
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
            <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
              <ul aria-labelledby="notifications" class="dropdown-menu">
                <li><a rel="nofollow" href="#" class="dropdown-item">
                  <div class="notification d-flex justify-content-between">
                    <div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>
                    <div class="notification-time"><small>4 minutes ago</small></div>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item">
                  <div class="notification d-flex justify-content-between">
                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                    <div class="notification-time"><small>4 minutes ago</small></div>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item">
                  <div class="notification d-flex justify-content-between">
                    <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                    <div class="notification-time"><small>4 minutes ago</small></div>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item">
                  <div class="notification d-flex justify-content-between">
                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                    <div class="notification-time"><small>10 minutes ago</small></div>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
              </ul>
            </li>
            <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
              <ul aria-labelledby="notifications" class="dropdown-menu">
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                  <div class="msg-profile"> <img src="../../assets/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                  <div class="msg-body">
                    <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                  <div class="msg-profile"> <img src="../../assets/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                  <div class="msg-body">
                    <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                  <div class="msg-profile"> <img src="../../assets/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                  <div class="msg-body">
                    <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                  </div></a></li>
                <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
              </ul>
            </li>
            <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container spacer " style="margin-top: 20px ; margin-bottom: 50px;">
    <div class="col-md-12">
      <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
          <h4 class="card-title">List User</h4>

        </div>
        <div class="card-body table-full-width table-responsive">
          <table class="table table-hover table-striped">
            <thead>
            <th>#</th>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr *ngFor=" let c of pageUsers">
              <td>#</td>
              <td>{{c.id}}</td>
              <td>{{c.name}}</td>
              <td>{{c.prenom}}</td>
              <td>{{c.email}}</td>
              <td>{{c.password}}</td>
              <td>{{c.role}}</td>
              <td><i class="fa fa-user-plus"></i><i class="fa fa-pencil" style="margin-left: 15px"></i><i class="fa fa-trash-o" style="margin-left: 15px"></i></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
